.comment_card{
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
    justify-content: center;
    position: relative;

    .title{
        font-size: 25px;
        font-weight: bold;
        color: white;
        position: absolute;
        bottom: 20px;
    }

    .description{
        font-size: 50px;
        letter-spacing: 2px;
        width: 50%;
        text-align: center;
        object-fit: cover;
        bottom: 0;
        margin: 40px 0;
        color: white;
    }

    img{
        margin-top: 70px;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        object-fit: cover;
    }
}