.shipping_form{
    display: flex;
    flex-direction: column;
    width: 80%;

    label{
        margin: 2rem 0 .5rem 0;
        color: #cccccc;
    }

    input{
        padding: .5rem;
        border: none;
        border-bottom: 1px solid #cccccc;
        background-color: transparent;
        color: #cccccc;
    }
}