
    :root {
      background-color: #ffffff;
      --card-color: #5e5e5e;
      --color-danger: #dc3545;
      --color-success: #28a745;
      --color-text-card: #ffffff;
    }

    h1, h2, h3, h4, h5, h6, p, li, label, select {
      color: #222222;
    }

    input, textarea{
      background-color: #cccccc80;
    }