
    :root {
      background-color: #e7e7e7;
      --card-color: #434242;
      --color-danger: #dc3545;
      --color-success: #28a745;
      --color-text-card: #e7e7e7;
    }

    *{
      color: #222222;
    }