@media screen and (max-width: 620px){
    #main_aboutwe{
        .content{
            flex-direction: column;
    
            p{
                margin-bottom: 20px;
                text-align: left;
                line-height: 30px;
            }
        }
    }
}