.slider-wrapper {
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  
  .slide {
    height: 80vh;
    background-size: cover !important;
  }
  
  .slide::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(rgba(0, 0, 0, 0.9))
    );
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
    left: 0;
  }
  
  .previousButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: url("http://svgshare.com/i/41_.svg") no-repeat center center /
      16px;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    cursor: pointer;
  }
  
  .previousButton:hover,
  .nextButton:hover {
    background: url("http://svgshare.com/i/41_.svg") no-repeat center center /
      16px;
  }
  
  .previousButton {
    left: 10px;
  }
  
  .previousButton:hover {
    left: -10px;
  }
  
  .nextButton {
    right: 0;
  }
  
  .nextButton:hover {
    right: -10px;
  }
  
  .slider-content .inner {
    padding: 0 80px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .slider-content .inner button {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .slider-content .inner .disclaimer {
    font-size: 16px;
    padding: 0 10px;
  }
  
  .slider-content .inner h1 {
    font-weight: 500;
    max-width: 840px;
    color: #000000;
    font-size: 80px;
    line-height: 1;
  }
  
  .slider-content .inner p {
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
    max-width: 640px;
  }

  .slider-content .inner .buttons{
    margin-top: 50px;
  }

  .slider-content .inner .buttons a {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin: 20px;
    background-color: var(--card-color);
    padding: 15px 45px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--card-color);
    font-size: 18px;
  }

  .slider-content .inner .buttons a:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
  }
  
  .slider-content section {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .slider-content section span {
    color: #ffffff;
  }
  
  .slider-content section span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    display: inline-block;
    text-align: left;
    line-height: 1.4;
    vertical-align: middle;
    margin-left: 10px;
  }
  
  .slider-content section img {
    width: 40px;
    height: 40px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    vertical-align: middle;
  }
  
  .slider-content section span strong {
    color: #ffffff;
    font-size: 14px;
    display: block;
  }
  
  @media (max-height: 500px) {
    .slider-wrapper,
    .slide {
      height: calc(100vh - 75px);
    }
  }
  
  @media (max-width: 640px) {
    .slider-wrapper,
    .slide {
      height: calc(50vh - 75px);
    }
  }
  @media (max-width: 640px) {
    .slider-content .inner{
      padding: 0 50px;
      h1 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
        margin: 5px 0;
      }


    }

    .slider-content .inner .buttons {
      margin-top: 20px;

      a {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        margin: 10px 0;
        background-color: var(--card-color);
        padding: 5px 5px;
        border-radius: 50px;
        cursor: pointer;
        border: 1px solid var(--card-color);
        font-size: 13px;
        margin-right: 20px;
      }
    }
  }
  