footer{
    display: flex  !important;
    justify-content: space-between;
    padding: 100px !important;

    .footer_section{
        .footer_section_title{
            h3{
                font-size: 1.3rem;
                font-weight: 700;
                margin-bottom: 20px;
            }
        }

        .footer_section_content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p{
                margin: 6px 0;
                font-weight: 700;
            }
        }
    }
}